body {
  text-align: center;
  background: #fafbfc;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 30px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

:root {
  --base: #0ef2ee;
  --spacing: 10px;
  --blur: 10px;
}

img {
  width: 75%;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.h1 {
  color: var(--base);
}
